{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
    {{pfe.titre}}
    <br>
    {{pfe.nomEtudiant}}
    <br>
    ENTREPRISE : {{pfe.entreprise}}
</div>
{% endblock %}

